body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footerbox{
  display: flex;
  background-color: #FC8019;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0rem ;

}

.listitems ul{
  list-style-type: none;
}

.listitems li{
  float: left;
  margin: 6px;
  padding: 6px;
  color: white;
}