body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footerbox{
  display: flex;
  background-color: #FC8019;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0rem ;
}

.colored-h1{
  color: #fc8018;
}
.colored-h1-2{
  color: #fc8018;
}

.ellipse {
  width: 200px;
  height: 100px;
  background-color: #f9b075; 
  border-radius: 50%;
  position: absolute;
  transform: rotate(325deg);
  margin-top: 250px;
  margin-left:-130px;
}

.listitems ul{
  list-style-type: none;
}

.listitems li{
  float: left;
  margin: 6px;
  padding: 6px;
  color: white;
}

.header{
  display: flex;
  margin-top: 6px;
  padding: 20px;
  align-items: center;
}

.header-logo{
  display: flex;
  padding: 10px; 
  width: auto;
  height: 50px;
  margin-left: 100px;
}

.header-button{
padding: 10px 20px;
margin-left: auto;
margin-right: 100px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: #000000;
}
.header-button button{
  background-color: #000000;
  border: none;
  color: white;
  font-size: 15px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  margin: -80px;
  margin-right: 130px;
  margin-top:-200px;

}

.signup-form {
  background-color: white;
  margin-top: 0%;
  padding: 28px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.signup-form h1{
  text-align: center;
  padding-bottom: 10px;
  font-size: 15px;
}


.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.signup-button:hover {
  background-color: #fc8018;
}

.page-content{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 508px;
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 320px;
  

}
.page-content .input-field{
width: 790px;
height: 270px;

}

.location-list ul{
  list-style-type: none;
  margin-left: -43px

}

.location-list ul li{
  float: left;
  margin: 6px;
  padding: 6px;
  
}
.page-content p{
  font-size: smaller;
  color: #6d6b6b;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-container{
  display: flex; 
  justify-content: space-between;
  margin-top: 60px;
  height: 400px;
  align-items: center;
  position: relative;
}

.slider-container {
  display: inline-grid;
  position: relative;
  margin-left: 10px;
  width: 60px;
  height: 35px;
  background-color:#e5ddd6;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 10px;
}

.slider {
  position: absolute;
  width: 30px;
  height: 35px;
  background-image: url('./assets/banana.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out;
  animation: slide 5s linear infinite; 
}
.slider-2{
  position: absolute;
  width: 30px;
  height: 35px;
  background-image: url('./assets/apple.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 1s ease-in-out;
  animation: slide 5s linear infinite; 
}
@keyframes slide {
  0%, 100% {
    left: 0px; /* Initial position (left side) */
  }
  50% {
    left: calc(100%); /* Middle position (right side) */
  }
  100% {
    left: 0px; /* Final position (left side) for seamless loop */
  }
}

.restaurant-nav{
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.button-group{
  display: flex;
  flex-direction: column;
  margin-left: 850px;
  width: 150px;
  padding: 10px, 20px;
  font-size: small;
}

.b1{
padding: 16px 25px 16px 25px;
border-radius: 10px;
gap: 10px;
background-color: #000000;
color: #ccc;
border-style: none;
margin-bottom: 5px;
}

.b2{
  padding: 5%;
  border-radius: 10px;
  border-style: dotted;
}

.b2:hover{
  color: #fc8018;
}

.restaurant-hero {
  margin-left: 100px;
  margin-right: 100px;
}

.addtocart-button{
  background-color: #fc8018;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
  width: 45%;
  height: auto;
  margin:5px
}

.item-details{
  display: flex;
  flex-direction:column;
  margin-left: 15px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-right: 35px;
}


.item-card {
  display: flex;
  align-items: center;
  background: #F8F8F8;
  border-radius: 10px;
  width: calc(33.33% - 25px); /* 33.33% width with spacing */
  margin: 10px; /* Adjust spacing as needed */
  padding: 25px;
}

.menu {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap into multiple rows */
  justify-content: space-between; /* Distribute items evenly in each row */
  margin-bottom: 20px;
}

.checkout-main{
  background-color: #000000;
  color: #ccc;
  display: flex;
  flex-direction: row;
  width:100%;
  height: auto;
  padding: 40px;
  margin-top: 25px;
  margin-bottom: 350px;
  align-items: center;
  gap: 70px;
  font-size:x-small;
}
.checkout-metadata{
  display: flex;
  padding: 10px;
  margin-top: 20px;
}
.restaurant-img{
  height: 209px;
  width: 322px;
  margin-left: 79px;
  border-radius: 10px;
}
.order-rating{
  display: flex;
}
.rating-icon{
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
.order-details{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.offer-section{
  border-radius: 10px;
  border-style: dotted;
  color: #fc8018;
  padding: 20px;
  margin:10px;
}
.discount-code{
  color: white;
}
.offers{
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
}
.discount-icon{
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
.restaurant-details{
  margin-left: 20px;
}
.cart-nav{
  display: flex;
  margin: 15px;
  align-items: center;
}